<div class="contenedor-login">
<div class="page page_simple">
  <div class="entry">
    <div class="entry__wrapper">
      <div class="h2 entry__title">Gestoria Ventura</div>
      <div class="entry__top">
        <h3>Ingrese los siguientes datos para iniciar sesion.</h3>
        <form [formGroup]="formLogin">
      <div class="entry__fieldset">
        <div class="field field_icon">
          <div class="field__wrap">
            <input class="field__input" type="email" name="email" placeholder="Your email">
            <div class="field__icon">
              <svg class="icon icon-mail">
                <use xlink:href="#icon-mail"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="field field_icon">
          <div class="field__wrap">
            <input class="field__input" type="password" name="password" placeholder="Password">
            <div class="field__icon">
              <svg class="icon icon-lock">
                <use xlink:href="#icon-lock"></use>
              </svg>
            </div>
          </div>
        </div>
        <button type="button" [routerLink]="'/home'">Iniciar Sesión </button>
      </div>
      <div class="entry__note">Este sitio esta protegio por reCAPTCHA y la politica de privacidad de Gestoria Ventura</div>
    </form>
    </div>
  </div>
</div>
</div>