<nav  class="sidebar close">
  <header>
    <div class="image-text">
      <span class="image">
        <div class="img-icono">
        <img src="../../../assets/gestoriaVentura.png" alt="icon">
      </div>
      </span>

      <div class="text logo-text">
        <span class="name">Gestoria</span>
        <span class="profession">Ventura</span>
      </div>
    </div>
    <i  class='bx bx-chevron-right toggle'></i>

  </header>

  <div class="menu-bar">
    <div class="menu">
      <ul class="menu-links">

        <li class="nav-link">
          <a [routerLink]="'/home/dashboard'">
           <!--  <i class='bx bx-home-alt icon'></i> -->
            <img *ngIf="!oscuro" class="imagenesDashboard space-nav-text" src="../../../assets/IconDashboard.png">
            <img *ngIf="oscuro" class="imagenesDashboard space-nav-text" src="../../../assets/dashboardDark.png">

            <span class="text nav-text space-nav-text">Dashboard</span>
          </a>
        </li>

        <li class="nav-link">
          <a [routerLink]="'/home/importar'">
            <!-- <i class='bx bx-import icon'></i> -->
            <img *ngIf="!oscuro"class="imagenesDashboard space-nav-text" src="../../../assets/importarDashboard.png">
            <img *ngIf="oscuro" class="imagenesDashboard space-nav-text" src="../../../assets/darkImportar.png">

            <span class="text nav-text space-nav-text">Importar Layout</span>
          </a>
        </li>

        <li class="nav-link">
          <a [routerLink]="'/home/exportar'">
            <!-- <i class='bx bx-export icon'></i> -->
            <img *ngIf="!oscuro"class="imagenesDashboard space-nav-text" src="../../../assets/exportarDashboard.png">
            <img *ngIf="oscuro" class="imagenesDashboard space-nav-text" src="../../../assets/darkExportar.png">

            <span class="text nav-text space-nav-text" >Exportar</span>
          </a>
        </li>
      <!--   <li class="nav-link dropd">
          <div class="dropdown ">
          <button  class="feat-btn link btnconfig">
            <i class='bx bx-grid-small icon'></i>
            <span class="text nav-text ">Configuracion</span>
            <span class='bx bx-chevron-down icone'></span>
          </button>
          <div class="dropdown-menu">
            
            <a [routerLink]="'/home/estados'">Estatus ABC</a>
          </div>
        </div>
        </li> -->
        
      </ul>
      
    </div>
    <div *ngIf="posicionNavbar" class="sidebar__foot">
      <label class="theme js-theme">
        <input  #input (change)="modo($event)" class="theme__input" type="checkbox"/>
        <span class="theme__inner">

          
          <span  class="theme__box">
            <svg  class="icon icon-sun" style="margin-right: 0px;">
              <use xlink:href="#icon-sun"></use>
            </svg>Light
          </span>
        
         
            <span  class="theme__box">
            <svg  class="icon icon-moon">
              <use xlink:href="#icon-moon"></use>
            </svg>Dark</span>
 
          </span>
      </label>
    </div>
   <div *ngIf="posicionNavbar==false" class="menu-bottom">
      <div>
      </div>
      <li (click)="cambiarEstadoCerrado()" class="mode">
          <i *ngIf="!oscuro" class='bx bx-moon icon moon'></i>
          <i *ngIf="oscuro" class='bx bx-sun icon sun'></i>

      </li>
  </div> 
    </div>
</nav>

<!-- sidebar-->




 