<nav  class="sidebar close">
  <header>
    <div class="image-text">
      <span class="image">
        <img *ngIf="!this.posicionNavbar" class="cerrado" src="../../../assets/logo_gestoria_ventura_close.svg.jpg" alt="icon">
        <img *ngIf="this.posicionNavbar" class="open" src="../../../assets/logo_gestoria_ventura.svg" alt="icon">

      </span>
    </div>
    <i  class='bx bx-chevron-right toggle'></i>

  </header>

  <div class="menu-bar">
    <div class="menu">
      <ul class="menu-links">

        <li routerLinkActive="active" class="nav-link">
          <a  routerLinkActive="active"  [routerLink]="'/home/dashboard'">
            <i routerLinkActive="icones" class='bx bxs-dashboard iconeside'></i>            <!-- <img *ngIf="!oscuro" class="imagenesDashboard space-nav-text" src="../../../assets/IconDashboard.png">
            <img *ngIf="oscuro" class="imagenesDashboard space-nav-text" src="../../../assets/dashboardDark.png"> -->

            <span routerLinkActive="sidebar-active-a" class="text nav-text space-nav-text ">Dashboard</span>
          </a>
        </li>

        <li routerLinkActive="active" class="nav-link">
          <a routerLinkActive="active"[routerLink]="'/home/importar'">
            <i  routerLinkActive="icones"  class='bx bx-car iconeside'></i>

            <!-- <img *ngIf="!oscuro"class="imagenesDashboard space-nav-text" src="../../../assets/importarDashboard.png">
            <img *ngIf="oscuro" class="imagenesDashboard space-nav-text" src="../../../assets/darkImportar.png"> -->

            <span routerLinkActive="sidebar-active-a" class="text nav-text space-nav-text">Importar Layout</span>
          </a>
        </li>

        <li routerLinkActive="active" class="nav-link">
          <a routerLinkActive="active" [routerLink]="'/home/exportar'">
            <i routerLinkActive="icones" class='bx bx-bar-chart-square iconeside'></i>            <!-- <img *ngIf="!oscuro"class="imagenesDashboard space-nav-text" src="../../../assets/exportarDashboard.png">
            <img *ngIf="oscuro" class="imagenesDashboard space-nav-text" src="../../../assets/darkExportar.png"> -->

            <span routerLinkActive="sidebar-active-a" class="text nav-text space-nav-text" >Exportar</span>
          </a>
        </li>
        
      </ul>
      
    </div>
    <div *ngIf="posicionNavbar" class="sidebar__foot">
      <label class="theme js-theme">
        <input [checked]="oscuro" id="inputOscuro" #input (change)="modo($event)" class="theme__input" type="checkbox"/>
        <span class="theme__inner">

          
          <span  class="theme__box">
            <svg  class="icon icon-sun" style="margin-right: 0px;">
              <use xlink:href="#icon-sun"></use>
            </svg>Light
          </span>
        
         
            <span  class="theme__box">
            <svg  class="icon icon-moon">
              <use xlink:href="#icon-moon"></use>
            </svg>Dark</span>
 
          </span>
      </label>
    </div>
   <div *ngIf="posicionNavbar==false" class="menu-bottom">
      <div>
      </div>
      <li (click)="cambiarEstadoCerrado()" class="mode">
          <i *ngIf="!oscuro" class='bx bx-moon icon moon'></i>
          <i *ngIf="oscuro" class='bx bx-sun icon sun'></i>

      </li>
  </div> 
    </div>
</nav>