.sidebar header .image-text{
  display: flex;
  align-items: center;
}

header .image-text .name {
  margin-top: 4px;
  font-size: 22px;
  font-weight: 800;
}

header .image-text .profession{
  font-size: 16px;
  margin-top: -2px;
  display: block;
}

.sidebar header .image{
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar header .image img{
  width: 30px;
  border-radius: 6px;
}

.sidebar header .logo-text{
  display: flex;
  flex-direction: column;
  margin-left: 26px;
}

.space-nav-text{
  margin-left: 15px;
}

.imagenesDashboard{
  text-align: center;
  margin-left: 15px;
  height: auto;
  width:33x;
}

.img-icono{
  width: 33px;
  height: auto;
  margin-left: 10px;
  border-radius: 100px;
}

.sidebar__foot {
  margin-top: 24px;
  padding-top: 18px;
  border-top: 2px solid #F4F4F4; }
  @media only screen and (max-width: 1259px) {
    .sidebar__foot {
      margin-top: 12px;
      padding-top: 12px; } }
  body.dark .sidebar__foot {
    border-color: #272B30; }
.sidebar .theme {
  margin-top: 16px; }