<!-- page-->
<div  class="page">
    <!-- header-->
    <header class="header unauthorized" data-id="#header">
      <button class="header__burger"></button>
      <div class="search">
        <div class="search__head">
          <button class="search__start">
            <svg class="icon icon-search">
              <use xlink:href="#icon-search"></use>
            </svg>
          </button>
          <button class="search__direction">
            <svg class="icon icon-arrow-left">
              <use xlink:href="#icon-arrow-left"></use>
            </svg>
          </button>
          <input class="search__input" type="text" placeholder="Search or type a command">
          <button class="search__result">⌘ F</button>
          <button class="search__close">
            <svg class="icon icon-close-circle">
              <use xlink:href="#icon-close-circle"></use>
            </svg>
          </button>
        </div>
        
         
      </div>
      <div class="header__btns"><a class="header__link" href="sign-in.html">Sign in</a><a class="button header__button"
          href="sign-up.html">Sign up</a></div>
    </header>
</div>