<div class="page__inner">
  <div class="page__container">
    <div class="page__title h3">Nuevo Estatus</div>
    <div class="create">
      <div class="create__row">
        <div class="create__col">
          <div class="create__card card">
            <div class="card__head">
              <div class="title-green card_title">Nombre y Descripción</div><a class="button-stroke button-small card_button" href="products-dashboard.html">
                <svg class="icon icon-arrow-left">
                  <use xlink:href="#icon-arrow-left"></use>
                </svg><span>Back</span></a>
            </div>
            <form [formGroup]="estadoForm" (ngSubmit)="crearEstado()">
            <div class="field">
              <div class="tooltip">Abreviatura <svg class="icon icon-info">
                <use xlink:href="#icon-info"></use>
              </svg>
                  <span class="tooltiptext">Maximo 3 caracteres</span>
          
              </div>
              <div class="field__wrap">
                <input formControlName="Abreviatura"class="field__input" type="text" name="title" required>
              </div>
            </div>
            <div class="field">
              <div class="tooltip">Nombre del estatus <svg class="icon icon-info">
                <use xlink:href="#icon-info"></use>
              </svg>
                  <span  class="tooltiptext">Maximo 30 caracteres</span>
          
              </div>
              <div class="field__wrap">
                <input formControlName="Nombre" class="field__input" type="text" name="title" required>
              </div>
            </div>
            <div class="field">
              <div class="tooltip">Color <svg class="icon icon-info">
                <use xlink:href="#icon-info"></use>
              </svg>
                  <span class="tooltiptext">Escoga un color</span>
          
              </div>
              <div class="field__wrap">
                <!--<input formControlName="Color" class="field__input" type="text" name="title" required>!-->
                <ngx-colors
                ngx-colors-trigger
                style="display: inline-block; margin:5px;"
                formControlName="Color"
              ></ngx-colors>
              </div>
            </div>
            <div class="editor">
              <div class="tooltip">Descripcion <svg class="icon icon-info">
                <use xlink:href="#icon-info"></use>
              </svg>
                  <span class="tooltiptext">Maximo 50 caracteres</span>
          
              </div>
            <ckeditor formControlName="Descripcion" [editor]="editor" ></ckeditor>
                  
              </div>
              <div class="panel">
                  <div class="panel__info">
                    <svg class="icon icon-check-all">
                      <use xlink:href="#icon-check-all"></use>
                    </svg>Last saved <span>Oct 4, 2021 - 23:32</span>
                  </div>
                  <div class="panel__btns">
                    <button class="button-stroke panel__button">Cancelar</button>
                    <button class="button panel__button">Guardar</button>
                    <div class="actions actions_up">
                     
                        <div class="dropdown ">
                        <div class="btn-options">
                          <button  class="button-dropdown-panel">
                          <a [routerLink]="'#'" class="feat-btn link">
                            <svg class="icon icon-more-horizontal">
                              <use xlink:href="#icon-more-horizontal"></use>
                            </svg>                          
                          </a>
                        </button>
                          <ul>
                            <li><a>Schedule product</a></li>
                            <li><a>Get shareable link</a></li>
                            <li><a>Clear data</a></li>
                          </ul>
                        </div>
                      </div> 
                    </div>
                  </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>