<div *ngIf="dispararAlertaError" class="enter-amount">
  <img class="ui-iconchecklight" src="../../../assets/errorCargaLayout.svg" />
  <div class="overlap-group3">
    <div class="registros-container">
      <div class="carga-de-registros-correcta">Error al cargar el archivo</div>
      <p class="se-han-importado-40-registros-pt">{{errorMensaje}}</p>
    </div>
    <div class="ellipse-328"></div>
  </div>
</div>

<div *ngIf="dispararAlerta" class="popup popup_success js-popup js-popup-success animation visible">
  <div class="popup__overlay js-popup-overlay"></div>
  <div class="popup__wrap js-popup-wrap">
    <div class="success">
      <div class="success__icon">🎉</div>
      <div class="success__info">!Cargas registradas!</div>
      <div class=" h2 success__price ">Creado </div>
      <div class="success__text">Las cargas se han importado correctamente </div>
      <button (click)="cerrarAlerta()" class="button success__button js-popup-close">Hecho!</button>
    </div>
    <button (click)="cerrarAlerta()" class="popup__close js-popup-close">
      <svg class="icon icon-close ">
        <use xlink:href="#icon-close"></use>
      </svg>
    </button>
  </div>
</div>


<div class="container espacio">
  <div class="create__card card">
    <div class="card__head">
      <div class="title-blue card__title">
        <h2>LayoutGr</h2>
      </div>
    </div>
    <div *ngIf="!banderaArchivoCargado" class="media__content">El Layout debe de ser un archivo .xls o cvs, debera de
      cumplir con los lineamientos y formatos indicados para su correcta importacion al sistema</div>
    <div *ngIf="!banderaArchivoCargado" class="file">
      <div class="file__label">LayoutGr
        <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
          <svg class="icon icon-info">
            <use xlink:href="#icon-info"></use>
          </svg>
        </div>
      </div>
      <div class="file__wrap">
        <input class="file__input" id="valor" type="file" (change)="onFileSelected($event)">
        <div *ngIf="!banderaArchivoCargado" class="file__box">
          <svg class="icon icon-upload">
            <use xlink:href="#icon-upload"></use>
          </svg>
          <span>Click para adjuntar archivo .xls o .cvs</span>
        </div>

      </div>
    </div>
    <div *ngIf="banderaArchivoCargado" class="contenedor__cargado">
      <div class="file__box__cargado">
        <button (click)="cerrarAlerta()" class="popup__close__importar js-popup-close">
          <svg class="icon icon-close ">
            <use xlink:href="#icon-close"></use>
          </svg>
        </button>
        <h3>{{fileName}}</h3>
        <div>
          <p class="media__content__cargado">{{size}} kb</p>
          <!--#6F767E-->

        </div>
      </div>
    </div>

  </div>
</div>

<div _ngcontent-lyl-c20="" class="panel margin-left">
  <div _ngcontent-lyl-c20="" class="panel__info">
    <svg _ngcontent-lyl-c20="" class="icon icon-check-all">
      <use _ngcontent-lyl-c20="" xlink:href="#icon-check-all">

      </use>
    </svg>Last saved <span _ngcontent-lyl-c20="">Oct 4, 2021 - 23:32</span>
  </div>
  <div _ngcontent-lyl-c20="" class="panel__btns">
    <button (click)="cancelarLayout()" _ngcontent-lyl-c20="" class="button-stroke panel__button">Cancelar</button>
    <button (click)="cargarLayout(file)" _ngcontent-lyl-c20="" class="button panel__button">Cargar e Importar
      Registros</button>
    <div _ngcontent-lyl-c20="" class="actions actions_up">



    </div>
  </div>

  