<div class="page__inner">
  <div class="page__container">
    <div class="page__title h3">Estatus</div>
    <div class="drafts card">
      <div class="card__head">
        <div class="title-purple card__title">Listado de Estatus</div>
      </div>
      <div class="schedule">
        <div class="schedule__wrapper">
          <div class="schedule__table">
            <div class="schedule__row">
              <div class="schedule__col">
                <label class="checkbox">
                  <input class="checkbox_input" type="checkbox"><span class="checkboxinner"><span class="checkbox_tick"></span></span>
                </label>
              </div>
              <div class="schedule__col">#</div>
              <div class="schedule__col">Estatus</div>
              <div class="schedule__col">Descripcion</div>
            </div>
                              <div class="schedule__row">
                                <div class="schedule__col">
                                  <label class="checkbox">
                                    <input class="checkbox_input" type="checkbox"><span class="checkboxinner"><span class="checkbox_tick"></span></span>
                                  </label>
                                </div>
                                <div class="schedule__col">
                                  <div class="schedule__item" data-popup=".js-popup-product">
                                    <div class="schedule__Contro">1</div>
                                    <div class="schedule__details">
                                      <div class="schedule__Description"></div>
                                      <div class="schedule__date">
                                        <svg class="icon icon-clock">
                                          <use xlink:href="#icon-clock"></use>
                                        </svg>Apr 9, 2021 at 1:55 PM
                                      </div>
                                      <div class="schedule__price">Active
                                      </div>
                                    </div>
                                  </div>
                                  <div class="actions">
                                    <button class="actions__button">
                                      <svg class="icon icon-more-horizontal">
                                        <use xlink:href="#icon-more-horizontal"></use>
                                      </svg>
                                    </button>
                                    <div class="actions__body">
                                      <button class="actions__option" data-popup=".js-popup-schedule">
                                        <svg class="icon icon-calendar">
                                          <use xlink:href="#icon-calendar"></use>
                                        </svg>Schedule product
                                      </button>
                                      <button class="actions__option">
                                        <svg class="icon icon-edit">
                                          <use xlink:href="#icon-edit"></use>
                                        </svg>Edit title & description
                                      </button>
                                      <button class="actions__option">
                                        <svg class="icon icon-trash">
                                          <use xlink:href="#icon-trash"></use>
                                        </svg>Delete forever
                                      </button>
                                    </div>
                                  </div>
                                </div>
                                <div class="schedule__col">
                                  <div class="schedule__price">Sin Estatus <span class="preName">se</span>
                                  </div>
                                </div>
                                <div class="schedule__col">
                                  <div class="Descripcion">aasdasdsa
                                  </div>
                                  <div class="schedule__control">
                                 
                                    <button class="schedule__button">
                                      <svg class="icon icon-edit">
                                        <use xlink:href="#icon-edit"></use>
                                      </svg>
                                    </button>
                                    <button class="schedule__button">
                                      <svg class="icon icon-trash">
                                        <use xlink:href="#icon-trash"></use>
                                      </svg>
                                    </button>
                                  </div>
                                </div>
                              </div>

                              <div class="schedule__row">
                                <div class="schedule__col">
                                  <label class="checkbox">
                                    <input class="checkbox_input" type="checkbox"><span class="checkboxinner"><span class="checkbox_tick"></span></span>
                                  </label>
                                </div>
                                <div class="schedule__col">
                                  <div class="schedule__item" data-popup=".js-popup-product">
                                    <div class="schedule__Contro">2</div>
                                    <div class="schedule__details">
                                      <div class="schedule__Description"></div>
                                      <div class="schedule__date">
                                  
                                      </div>
                                      <div class="schedule__price">Active
                                      </div>
                                    </div>
                                  </div>
                                  <div class="actions">
                                    <button class="actions__button">
                                      <svg class="icon icon-more-horizontal">
                                        <use xlink:href="#icon-more-horizontal"></use>
                                      </svg>
                                    </button>
                                    <div class="actions__body">
                                      <button class="actions__option" data-popup=".js-popup-schedule">
                                        <svg class="icon icon-calendar">
                                          <use xlink:href="#icon-calendar"></use>
                                        </svg>Schedule product
                                      </button>
                                      <button class="actions__option">
                                        <svg class="icon icon-edit">
                                          <use xlink:href="#icon-edit"></use>
                                        </svg>Edit title & description
                                      </button>
                                      <button class="actions__option">
                                        <svg class="icon icon-trash">
                                          <use xlink:href="#icon-trash"></use>
                                        </svg>Delete forever
                                      </button>
                                    </div>
                                  </div>
                                </div>
                                <div class="schedule__col">
                                  <div class="schedule__price">Creado <span class="preName">cre</span>
                                  </div>
                                </div>
                                <div class="schedule__col">
                                  <div class="Descripcion">
                                  </div>
                                  <div class="schedule__control">
                         
                                    <button class="schedule__button">
                                      <svg class="icon icon-edit">
                                        <use xlink:href="#icon-edit"></use>
                                      </svg>
                                    </button>
                                    <button class="schedule__button">
                                      <svg class="icon icon-trash">
                                        <use xlink:href="#icon-trash"></use>
                                      </svg>
                                    </button>
                                  </div>
                                </div>
                              </div>

                              <div class="schedule__row">
                                <div class="schedule__col">
                                  <label class="checkbox">
                                    <input class="checkbox_input" type="checkbox"><span class="checkboxinner"><span class="checkbox_tick"></span></span>
                                  </label>
                                </div>
                                <div class="schedule__col">
                                  <div class="schedule__item" data-popup=".js-popup-product">
                                    <div class="schedule__Contro">1</div>
                                    <div class="schedule__details">
                                      <div class="schedule__Description"></div>
                                      <div class="schedule__date">
                                        <svg class="icon icon-clock">
                                          <use xlink:href="#icon-clock"></use>
                                        </svg>Apr 9, 2021 at 1:55 PM
                                      </div>
                                      <div class="schedule__price">Active
                                      </div>
                                    </div>
                                  </div>
                                  <div class="actions">
                                    <button class="actions__button">
                                      <svg class="icon icon-more-horizontal">
                                        <use xlink:href="#icon-more-horizontal"></use>
                                      </svg>
                                    </button>
                                    <div class="actions__body">
                                      <button class="actions__option" data-popup=".js-popup-schedule">
                                        <svg class="icon icon-calendar">
                                          <use xlink:href="#icon-calendar"></use>
                                        </svg>Schedule product
                                      </button>
                                      <button class="actions__option">
                                        <svg class="icon icon-edit">
                                          <use xlink:href="#icon-edit"></use>
                                        </svg>Edit title & description
                                      </button>
                                      <button class="actions__option">
                                        <svg class="icon icon-trash">
                                          <use xlink:href="#icon-trash"></use>
                                        </svg>Delete forever
                                      </button>
                                    </div>
                                  </div>
                                </div>
                                <div class="schedule__col">
                                  <div class="schedule__price">Asignado <span class="preName">Asi</span>
                                  </div>
                                </div>
                                <div class="schedule__col">
                                  <div class="Descripcion">
                                  </div>
                                  <div class="schedule__control">
                             
                                    <button class="schedule__button">
                                      <svg class="icon icon-edit">
                                        <use xlink:href="#icon-edit"></use>
                                      </svg>
                                    </button>
                                    <button class="schedule__button">
                                      <svg class="icon icon-trash">
                                        <use xlink:href="#icon-trash"></use>
                                      </svg>
                                    </button>
                                  </div>
                                </div>
                              </div>

                              <div class="schedule__row">
                                <div class="schedule__col">
                                  <label class="checkbox">
                                    <input class="checkbox_input" type="checkbox"><span class="checkboxinner"><span class="checkbox_tick"></span></span>
                                  </label>
                                </div>
                                <div class="schedule__col">
                                  <div class="schedule__item" data-popup=".js-popup-product">
                                    <div class="schedule__Contro">1</div>
                                    <div class="schedule__details">
                                      <div class="schedule__Description"></div>
                                      <div class="schedule__date">
                                        <svg class="icon icon-clock">
                                          <use xlink:href="#icon-clock"></use>
                                        </svg>
                                      </div>
                                      <div class="schedule__price">
                                      </div>
                                    </div>
                                  </div>
                                  <div class="actions">
                                    <button class="actions__button">
                                      <svg class="icon icon-more-horizontal">
                                        <use xlink:href="#icon-more-horizontal"></use>
                                      </svg>
                                    </button>
                                    <div class="actions__body">
                              
                                      <button class="actions__option">
                                        <svg class="icon icon-edit">
                                          <use xlink:href="#icon-edit"></use>
                                        </svg>Edit title & description
                                      </button>
                                      <button class="actions__option">
                                        <svg class="icon icon-trash">
                                          <use xlink:href="#icon-trash"></use>
                                        </svg>Delete forever
                                      </button>
                                    </div>
                                  </div>
                                </div>
                                <div class="schedule__col">
                                  <div class="schedule__price">Notificado <span class="preName">ntd</span>
                                 </div>
                                </div>
                                <div class="schedule__col">
                                  <div class="Descripcion">
                                  </div>
                                  <div class="schedule__control">
                             
                                    <button class="schedule__button">
                                      <svg class="icon icon-edit">
                                        <use xlink:href="#icon-edit"></use>
                                      </svg>
                                    </button>
                                    <button class="schedule__button">
                                      <svg class="icon icon-trash">
                                        <use xlink:href="#icon-trash"></use>
                                      </svg>
                                    </button>
                                  </div>
                                </div>
                              </div>

                              <div class="schedule__row">
                                <div class="schedule__col">
                                  <label class="checkbox">
                                    <input class="checkbox_input" type="checkbox"><span class="checkboxinner"><span class="checkbox_tick"></span></span>
                                  </label>
                                </div>
                                <div class="schedule__col">
                                  <div class="schedule__item" data-popup=".js-popup-product">
                                    <div class="schedule__Contro">1</div>
                                    <div class="schedule__details">
                                      <div class="schedule__Description"></div>
                                      <div class="schedule__date">
                                        <svg class="icon icon-clock">
                                          <use xlink:href="#icon-clock"></use>
                                        </svg>Apr 9, 2021 at 1:55 PM
                                      </div>
                                      <div class="schedule__price">Active
                                      </div>
                                    </div>
                                  </div>
                                  <div class="actions">
                                    <button class="actions__button">
                                      <svg class="icon icon-more-horizontal">
                                        <use xlink:href="#icon-more-horizontal"></use>
                                      </svg>
                                    </button>
                                    <div class="actions__body">
                                      <button class="actions__option" data-popup=".js-popup-schedule">
                                        <svg class="icon icon-calendar">
                                          <use xlink:href="#icon-calendar"></use>
                                        </svg>Schedule product
                                      </button>
                                      <button class="actions__option">
                                        <svg class="icon icon-edit">
                                          <use xlink:href="#icon-edit"></use>
                                        </svg>Edit title & description
                                      </button>
                                      <button class="actions__option">
                                        <svg class="icon icon-trash">
                                          <use xlink:href="#icon-trash"></use>
                                        </svg>Delete forever
                                      </button>
                                    </div>
                                  </div>
                                </div>
                                <div class="schedule__col">
                                  <div class="schedule__price">Localizado <span class="preName">loc</span>
                                  </div>
                                </div>
                                <div class="schedule__col">
                                  <div class="Descripcion">
                                  </div>
                                  <div class="schedule__control">
                                    <button class="schedule__button" data-popup=".js-popup-schedule">
                                      <svg class="icon icon-calendar">
                                        <use xlink:href="#icon-calendar"></use>
                                      </svg>
                                    </button>
                                    <button class="schedule__button">
                                      <svg class="icon icon-edit">
                                        <use xlink:href="#icon-edit"></use>
                                      </svg>
                                    </button>
                                    <button class="schedule__button">
                                      <svg class="icon icon-trash">
                                        <use xlink:href="#icon-trash"></use>
                                      </svg>
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
               
                      