
<div *ngIf="dispararAlerta" class="popup popup_success js-popup js-popup-success animation visible">
  <div class="popup__overlay js-popup-overlay"></div>
  <div class="popup__wrap js-popup-wrap">
    <div class="success">
      <div class="success__icon">🎉</div>
      <div class="success__info">!Estatus registrado!</div>
      <div class=" h2 success__price ">Creado </div>
      <div class="success__text">Este registro se ha guardado correctamente </div>
      <button (click)="cerrarAlerta()" class="button success__button js-popup-close">Hecho!</button>
    </div>
    <button (click)="cerrarAlerta()" class="popup__close js-popup-close">
      <svg class="icon icon-close ">
        <use xlink:href="#icon-close"></use>
      </svg>
    </button>
  </div>
</div>

<div *ngIf="dispararAlertaError" class="popup popup_success js-popup js-popup-success animation visible">
  <div class="popup__overlay js-popup-overlay"></div>
  <div class="popup__wrap js-popup-wrap">
    <div class="success">
      <div class="success__iconError"></div>
      <div class="success__info">Error al crear Registo</div>
      <div class=" h2 success__price ">Error </div>
      <div class="success__text">Favor de verificar todos los campos</div>
      <button (click)="cerrarAlerta()" class="button success__button js-popup-close">Hecho!</button>
    </div>
    <button (click)="cerrarAlerta()" class="popup__close js-popup-close">
      <svg class="icon icon-close ">
        <use xlink:href="#icon-close"></use>
      </svg>
    </button>
  </div>
</div>

<div class="page__inner">
  <div class="page__container">
    <div class="page__title h3">Nuevo Estatus</div>
    <div class="create">
      <div class="create__row">
        <div class="create__col">
          <div class="create__card card">
            <div class="card__head">
              <div class="title-green card_title">Nombre y Descripción</div>
             
            </div>
            <form id="createForm" [formGroup]="estadoForm" (ngSubmit)="crearEstado()">
            <div class="field">
              <div class="tooltip">Abreviatura <svg class="icon icon-info">
                <use xlink:href="#icon-info"></use>
              </svg>
                  <span class="tooltiptext">Maximo 3 caracteres</span>
          
              </div>
              <div class="field__wrap">
                <input formControlName="abreviatura"class="field__input" type="text" name="title" required>
              </div>
            </div>
            <div class="field">
              <div class="tooltip">Nombre del estatus <svg class="icon icon-info">
                <use xlink:href="#icon-info"></use>
              </svg>
                  <span  class="tooltiptext">Maximo 30 caracteres</span>
          
              </div>
              <div class="field__wrap">
                <input formControlName="nombre" class="field__input" type="text" name="title" required>
              </div>
            </div>
            <div class="field">
              <div class="tooltip">Color <svg class="icon icon-info">
                <use xlink:href="#icon-info"></use>
              </svg>
                  <span class="tooltiptext">Escoga un color</span>
          
              </div>
              <div class="field__wrap">
                <ngx-colors
                ngx-colors-trigger
                style="display: inline-block; margin:5px;"
                formControlName="color"
              ></ngx-colors>
              </div>
            </div>
            <div class="editor">
              <div class="tooltip">Descripcion <svg class="icon icon-info">
                <use xlink:href="#icon-info"></use>
              </svg>
                  <span class="tooltiptext">Maximo 50 caracteres</span>
          
              </div>
            <ckeditor formControlName="descripcion" [editor]="editor" ></ckeditor>
                  
              </div>
            
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page__inner">
  <div class="page__container">
    <div class="page__title h3">Estatus</div>
    <div class="drafts card">
      <div class="card__head">
        <div class="title-purple card__title">Listado de Estatus</div>
      </div>




      <div class="schedule">
        <div class="schedule__wrapper">
          <div class="schedule__table">
            <div class="schedule__row">
              <div class="schedule__col">
                <label class="checkbox">
                  <input class="checkbox_input" type="checkbox" /><span
                    class="checkboxinner"
                    ><span class="checkbox_tick"></span
                  ></span>
                </label>
              </div>
              <div class="schedule__col">#</div>
              <div class="schedule__col">Estatus</div>
              <div class="schedule__col">Descripcion</div>
              <div class="schedule__col">Color</div>
            </div>




            <div *ngFor="let estado of estados" class="schedule__row">
              <div class="schedule__col">
                <label class="checkbox">
                  <input class="checkbox_input" type="checkbox" /><span
                    class="checkboxinner"
                    ><span class="checkbox_tick"></span
                  ></span>
                </label>
              </div>



              <div class="schedule__col">
      
                  <div class="schedule__Contro">{{estado.IdEstado}}</div>
              
              </div>


         
              <div class="schedule__col">
            
                 {{estado.nombre}} <span class="preName">- {{estado.abreviatura}}</span>
                </div>
           

                <div class="schedule__col">
                  <div class="schedule__Contro">{{estado.descripcion}}</div>
          
                </div>

             

              <div class="schedule__col">
            
                  <div class="color" [style.background-color]="estado.color"></div>
          
              </div>


         
              <div class="schedule__col">
              <div class="schedule__control">
                <button (click)="obtenerIdEstadoMod(estado.IdEstado)" class="schedule__button">
                  <svg class="icon icon-edit">
                    <use xlink:href="#icon-edit"></use>
                  </svg>
                </button>
                <button (click)="eliminarEstado(estado.IdEstado)" class="schedule__button">
                  <svg class="icon icon-trash">
                    <use xlink:href="#icon-trash"></use>
                  </svg>
                </button>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel">
  <div class="panel__info">
    <svg class="icon icon-check-all">
      <use xlink:href="#icon-check-all"></use>
    </svg>Last saved <span>Oct 4, 2021 - 23:32</span>
  </div>
  <div class="panel__btns">
    <button (click)="borrarTodo()" type="button" class="button-stroke panel__button">Cancelar</button>
    <button (click)="crearEstado()" form="createForm" type="submit" class="button panel__button">Guardar</button>
    
  </div>
</div>